<div class="top-navbar">
	<div class="row">
		<div class="navbar-header">
			<a href="javascript:void(0)">
				LOAN SIMPLE
			</a>
		</div>
		<div class="navbar-right">
			<div class="user-icon">
				<i class="fa fa-user-circle-o"></i>
			</div>
			<div class="user-name">
				{{userData.name}}
			</div>
			<div class="down-icon">
				<i class="icon-left-arrow"></i>
			</div>
			<div class="dropdown-area">
				<a href="javascript:void(0)" (click)="logout()">Logout</a>
			</div>
		</div>
	</div>
</div>