@import './../../../assets/styles/themes/all';

.no-permission {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    font-family: $font-light;
    color: #555;
  }
}
