<section class="main-section">
	<div class="page-header">
		<div class="page-header-content">
			<div class="page-title">
				<h4>Create New Category</h4>
			</div>
			<div class="right-section">
				<a [routerLink]="['/category/list']">
					<button>Back to List</button>
				</a>
			</div>
		</div>
	</div>
	<article>
		<div class="form-wrapper">
			<div class="input-wrapper">
				<div class="label-text">Category Name</div>
				<input type="text" placeholder="Enter Category Name" [ngClass]="{'has-error' : isFormSubmit && !categoryName}" [(ngModel)]="categoryName" (keyup.enter)="submitForm()">
			</div>
			<div class="msg error-msg" *ngIf="isFormSubmit && !categoryName">Please enter category name!</div>
			<div class="button-wrapper">
				<button (click)="submitForm()">SUBMIT</button>
			</div>
		</div>
	</article>
</section>