
// -----------------
// Font Family
// -----------------

$font-semibold: "montserrat-semibold";
$font-ultraLight: "montserrat-ultraLight";
$font-extraBold: "montserrat-extraBold";
$font-regular: "montserrat-regular";
$font-light: "montserrat-light";
$font-bold: "montserrat-bold";
$font-hairline: "montserrat-hairline";
$font-black: "montserrat-black";
$font-vr-regular: "varelaRound-regular";